/*Clases para la barra de menú*/

.inline, {
	color: purple;
	margin: 10px;
    padding: 10px;
    background: #FFEFD5;
    }
	
.banda{
	background: #F5DEB3;
	margin: 10px;
	padding: 10px;
   }
   
.container{
	background: #FFF5EE;
	

}

#container_usuario{
	margin: 50px 300px 0px 300px;
	background: #FAEBD7;
}

#container_alumnos{
	margin: 30px 300px 0px 300px;
	background: #FAEBD7;
}


.block{
	color: purple;
	margin: 10px;
    padding: 10px;
	text-align: center;
	
}

#nombrePag{
	text-align:center;
	color:purple;
}

#principal{
	background: #FFF5EE;
}